<!DOCTYPE html>
<html>
<head>
  <title>Homeland paper</title>
  <%= stylesheet_link_tag    "homeland/paper/application", media: "all" %>
  <%= javascript_include_tag "homeland/paper/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
